body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
 
nav{
    position: absolute;
    top:110px; 
    right: 0;
}
 
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    display:Flex;
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}


.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color:#c78c19;
}

.productos li:active{
    border-color:#088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding:40px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}

form{
    margin: 40px 40px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;

}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all; /*transicion en 1 cambia color... definido hover...
    al poner all se aplica para todas las caracteristicas
    */
    cursor: pointer; /*puntero manito...*/
}
 
.enviar:hover{
    background: red;
    transform: scale(1.2);
    /*rotate(90deg) los grados a rotar...s*/
}

table{
    margin: 40px 40px;
}

thead{
    background:#555555;
    color: white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}


/* CSS para nuestra pag.inicial index ... home... */

.principal{
    padding: 3em 0;
    background:#FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.banner{
    width: 100%;
}

/* selectores avanzados
 main > p{
     background: red; // aplica  solo p hijos directos del main
  }
  img + p{
     background:yellow; //aplica amarillo al primer p despues de la imagen
  }
  img - p{
     background: green;//aplica verde a TODOS los p despues de la imagen
  }
  .principal p:not(#mision){
      background:orange;    // aplica naranja a todos los p menos al q tiene id mision
  }
  */

.titulo-principal{
    text-align: center;
    font-size: 2em; /*esto 2em son veces el tamaño original de ese navegador*/
    margin: 0 0 1em;
    clear: left; /**/
    color: rgba(0,0,0,0.3);
   /* text-shadow: 2px 2px red;   sombra en texto*/ 
    
}

 /*PseudoElementos  
 firts letter primera letra... firts-line todo el renglon...S
 .titulo-principal::first-letter{
     font-weight: bold;
 }
    .titulo-principal::before{
        content:" [";
    }
    .titulo-principal::after{
        content:"]";
    }
    */

    .principal p{
        margin: 0 0 1e;
    } 
    .principal strong{
        font-weight: bold;
    }

    .principal em{
        font-style: italicS;
    }

    .utensillos{
        width: 120px;
        /* la img queda alineada a la izq flotando y el texto alrededor */
        float: left;
        margin: 0 20px 20px 0; /*en sentido horario superior.dere.inf.izq...S*/
    }

    .mapa{
        padding: 3em 0;
        background: linear-gradient(#FEFEFE,#888888);
       /* background:orange;
       aplicamos gradiente lineal 
       va horizontal del primer color definido al ultimo
       y se divide en partes iguales o le podemos decir q porcentaje ocupe despues de definir el color
       background: linear-gradient(orange,blue) o linear-gradient(orange 50%,blue,black)
         linear-gradient(90deg,orange 50%,blue,black)      ya no seria horizontal sino a 90grados osea vertical
         radius-gradient(orange,blue)  este ceria circular...     
       */

    }

    .mapa p{
        margin: 0 0 2em;
        text-align: center;
    }
    .mapa-contenido{
        width: 940px;
        margin: 0 auto;
    }
   
    /*bloque diferencial le damos fondo color plomo*/
     .diferenciales{
         padding: 3em 0;
         background: #888888;
        
     }

    .contenido-diferenciales{
        width: 640px;
        margin: 0 auto;
    }

    .lista-diferenciales{
        width: 40%;
        display: inline-block;
        vertical-align: top;
    }

    .items{
        line-height: 1.5S;
    }
    
    .items::before{
       content: "★";
    }
    

    /* pseudoclases primer hijo */
    .items:first-child{
       font-weight: bold;
       /*last-child modifica el ultimo elemento...
         nth-child(numero) modificamos el numero item q vamos a modificar
         nth-child(2n) todos los pares...*/
    }

    .imagen-Diferenciales{
        width: 60%;
        transition: 400ms;
        box-shadow: 10px 10px 30px 15px #000000;
         /*ubicacion sombra eje x, eje y, difumigacion + expancion + color // si pongo coma pueda agregar otro box shadow
         negativo izq positivo derecha // negativo arriba positivo abajo
         box shadow interno es : inset 0 0 30px red... interno
         */
        
    }

    .imagen.diferenciales:hover{
        opacity: 0.3;
    }

    .video{
        width: 560px;
        margin: 1em auto;
    }

    
    @media screen and (max-width:480px){
        h1{
            text-align: center;
        }
        nav{
            position: static;
        }
        .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
            width: auto;
        }
        .lista-diferenciales, .imagen-diferenciales{
            width: 100%;
            
        }
    }